.wrapper {
    min-height: 72px;
    padding: 8px 4%;
    background-color: #101010;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* top: 72px; */
    z-index: 10;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
    z-index: 2;
    /* background-color: antiquewhite; */
}
.item-nav {
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 2;
}
.item-nav .item {
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 16px;
    line-height: 22px;
    display: block;
    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    padding: 8px 16px;
}
.item-nav .nav.active .item {
    color: #fff;
}

.item-nav .item:hover {
    color: #fff;
}
.action {
    display: flex;
    align-items: center;
}

.current-user {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
}
.logo img {
    width: var(--primary-width);
    width: 80px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-icon-more {
    display: none;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .content .nav {
        display: flex;
        justify-content: space-between;
        /* background-color: aquamarine; */
        flex: 1;
    }
    .nav-icon-more {
        display: flex;
        padding: 12px;
    }
    .content .nav .logo {
        order: 2;
        flex: 1;
    }
    .content .nav .item-nav {
        order: 1;
    }
    .content .action {
        width: fit-content;
        /* background-color: azure; */
    }
    .nav-list {
        display: none;
    }
}
.account-icon {
    background-color: transparent;
    margin-left: 24px;
    cursor: pointer;
}
