.wrapper {
    /* padding-bottom: 100px; */
}
.slide-wrapper {
    height: 80vh;
}
.section {
    padding: 12px 0;
    background-color: var(--background-color);
    width: 90%;
    margin: 0 auto;
    /* background-color: aqua; */
}
.section .section-title {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    font-size: 1.6vw;
    font-weight: bold;
    position: relative;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.section .section-title:hover .section-icon {
    transform: translateX(18px);
}
.section .section-title .section-icon {
    color: rgb(255, 255, 255);
    width: 12px;
    transition: transform 0.3s ease;
}
.section-slide {
    width: 100%;
    height: 200px;

    /* background-color: rosybrown; */
}
.section-slide-poster {
    height: 500px;
    width: 100vw;
}

@media screen and (max-width: 1024px) {
    .slide-wrapper {
        height: unset;
    }
    .section .section-title {
        font-size: 2.6vw;
    }
}
